<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_hand_e">

  <!-- 1. Include the UR5 macro -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  
  <!-- 2. Include the Robotiq Hand-E macro -->
  <!-- Ensure the path matches your robotiq description package -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_hand_e.urdf.xacro"/>

  <!-- 3. Instantiate the UR5 -->
  <xacro:ur_robot
    name="ur5"
    tf_prefix=""
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur5/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur5/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5/visual_parameters.yaml">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur_robot>

  <!-- 4. Link the World -->
  <link name="world"/>

  <!-- 5. Attach the Gripper to the UR5 tool0 link -->
  <xacro:robotiq_hand_e 
    name="hand_e" 
    parent="tool0" 
    prefix="">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:robotiq_hand_e>

</robot>
